<div class="maincontainerB">
	<div class="maincontainer">
		<h2 class="heading">评价查询</h2>
		<div class="screenbg">			
			<form class="screen">
				<div>
					<span class="chooseshop"><label>选择店铺 :<select class="borderHighlight" disabled="disabled"><option>xx官方旗舰店1</option><option>xx官方旗舰店2</option></select></label></span>
					<span class="evatype"><label>评价类型 :<select class="borderHighlight"><option>好评</option><option>中评</option><option>差评</option></select></label></span>
					<span class="choosegoods"><label>选择商品 :<input class="borderHighlight" type="text"></label></span>
					<span class="evakeyword"><label>评价关键字 :<input class="borderHighlight" type="text"></label></span>
					<span class="unfold"><a href="javascript:void(0);">展开</a></span>
				</div>
				<div class="screenDiv" style="display:none;">
					<div>
						<span><label>订单日期 :</label><span class="orderdate"><input class="borderHighlight" id="orderdateS" type="text">-<input class="borderHighlight" id="orderdateE" type="text"></span></span>
						<span class="ordernum"><label>订单编号 :<input class="borderHighlight" type="text"></label></span>
						<span class="worktime"><label>生效时间 :<input class="borderHighlight" type="text"></label></span>
						<span class="evawordnum"><label>评价字数 :<input class="borderHighlight" type="text"></label></span>
					</div>
					<div>
						<span><label>评价日期 :</label><span class="evadate"><input class="borderHighlight" id="evadateS" type="text">-<input class="borderHighlight" id="evadateE" type="text"></span></span>
						<span class="buyerid"><label>买家ID :<input class="borderHighlight" type="text"></label></span>
						<span class="vipclass"><label>会员等级 :<select class="borderHighlight"><option>高级会员</option><option>普通会员</option></select></label></span>
					</div>
				</div>
				<div>
					<button class="screenBtn btn btnBlue">筛选</button><a class="screenReset" href="###" onclick="id.reset()">重置</a>
				</div>
			</form>
		</div>

		<div class="list">
			<div class="listHeader clearfix">
				<ul class="listTab">
					<li class="fl listSelected">评价列表</li>
				</ul>
				<div class="listTabTips fl">共有<span class="bold">1,000</span>条符合条件的评价，涉及<span class="bold">800</span>个客人。</div>
				<a href="###" class="educelist fr">导出列表</a>
			</div>
			<div class="listContainer">
				<div class="rateItem">
					<div class="rateItemHeader clearfix"><span class="rateOrderNum">订单编号：216782672741495</span><span class="rateDealTime">成交时间：2013-01-05</span><span class="ratePrice fr">成交价格：<span class="red">69.00</span></span></div>
					<table class="rateItemBody">
						<tbody><tr>
							<td class="rateContent">
								<p>产品不错，挺划算的.产品不错，挺划算的，产品不错，产品不错，挺划算的.产品不错挺划算挺vc划算的，算的，，产品不错，挺划算的.</p>
								<div class="rateTime gray9">[ 2013-01-08 18:24 ]</div>
							</td>
							<td class="rateTpye"><span class="rateIcon rateOk" title="好评"></span></td>
							<td class="rateUserinfo">
								<div>买家ID：songxp_80<a href="###">ww</a></div>
								<div>
									<a href="###"><img align="absmiddle" title="11 - 40个 买家信用积分" src="http://a.tbcdn.cn/sys/common/icon/rank/b_red_4.gif" alt="11 - 40个"></a>
									<a href="###"><img border="0" align="absmiddle" title="V2 会员" src="http://img03.taobaocdn.com/tps/i3/T1FHuIXcNkXXXXXXXX-16-16.png"></a>
								</div>
								<div class="gray9">收货手机：15622277901</div>
								<div class="gray9">[广东省-广州市]</div>
							</td>
							<td class="rateAuction">         
								<a target="_blank" href="###">新百伦正品New Balance跑鞋 NB574男鞋女鞋 574系列运动鞋 特价</a>
							</td> 
						</tr></tbody>  
					</table>
				</div>
				<div class="rateItem">
					<div class="rateItemHeader clearfix"><span class="rateOrderNum">订单编号：216782672741495</span><span class="rateDealTime">成交时间：2013-01-05</span><span class="ratePrice fr">成交价格：<span class="red">69.00</span></span></div>
					<table class="rateItemBody">
						<tbody><tr>
							<td class="rateContent">
								<p>产品不错，挺划算的.产品不错，挺划算的，产品不错，产品不错，挺划算的.产品不错挺划算挺vc划算的，算的，，产品不错，挺划算的.</p>
								<div class="rateTime gray9">[ 2013-01-08 18:24 ]</div>
							</td>
							<td class="rateTpye"><span class="rateIcon rateOk" title="好评"></span></td>
							<td class="rateUserinfo">
								<div>买家ID：songxp_80<a href="###">ww</a></div>
								<div>
									<a href="###"><img align="absmiddle" title="11 - 40个 买家信用积分" src="http://a.tbcdn.cn/sys/common/icon/rank/b_red_4.gif" alt="11 - 40个"></a>
									<a href="###"><img border="0" align="absmiddle" title="V2 会员" src="http://img03.taobaocdn.com/tps/i3/T1FHuIXcNkXXXXXXXX-16-16.png"></a>
								</div>
								<div class="gray9">收货手机：15622277901</div>
								<div class="gray9">[广东省-广州市]</div>
							</td>
							<td class="rateAuction">         
								<a target="_blank" href="###">新百伦正品New Balance跑鞋 NB574男鞋女鞋 574系列运动鞋 特价</a>
							</td> 
						</tr></tbody>  
					</table>
				</div>
				<div class="rateItem">
					<div class="rateItemHeader clearfix"><span class="rateOrderNum">订单编号：216782672741495</span><span class="rateDealTime">成交时间：2013-01-05</span><span class="ratePrice fr">成交价格：<span class="red">69.00</span></span></div>
					<table class="rateItemBody">
						<tbody><tr>
							<td class="rateContent">
								<p>真的是非常棒的鞋子，刚开始买还会怀疑是仿品因为价格真的不贵，拿到货一看做工，鞋垫一看就是正品，真的很不错，很开心，我们要对店家多份信任.真的是非常棒的鞋子，刚开始买还会怀疑是仿品因为价格真的不贵，拿到货一看做工，鞋垫一看就是正品，真的很不错，很开心，我们要对店家多份信任</p>
								<div class="rateTime gray9">[ 2013-01-08 18:24 ]</div>
							</td>
							<td class="rateTpye"><span class="rateIcon rateNormal" title="中评"></span></td>
							<td class="rateUserinfo">
								<div>买家ID：songxp_80<a href="###">ww</a></div>
								<div>
									<a href="###"><img align="absmiddle" title="11 - 40个 买家信用积分" src="http://a.tbcdn.cn/sys/common/icon/rank/b_red_4.gif" alt="11 - 40个"></a>
									<a href="###"><img border="0" align="absmiddle" title="V2 会员" src="http://img03.taobaocdn.com/tps/i3/T1FHuIXcNkXXXXXXXX-16-16.png"></a>
								</div>
								<div class="gray9">收货手机：15622277901</div>
								<div class="gray9">[广东省-广州市]</div>
							</td>
							<td class="rateAuction">         
								<a target="_blank" href="###">新百伦正品New Balance跑鞋 NB574男鞋女鞋 574系列运动鞋 特价</a>
							</td> 
						</tr></tbody>  
					</table>
				</div>
			</div>
			<div class="ratePageBg">
				<div class="ratePage fr">
					<a href="###" class="ratePageTop" title="首页"></a><a href="###" class="ratePagePrev" title="上一页"></a><span>跳至</span><input type="text"><span>至</span><a href="###" class="ratePageNext" title="下一页"></a><a href="###" class="ratePageEnd" title="末页"></a><span class="ratePageNum">1/23</span><select><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select>
				</div>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="3rd/jquery.ui.timepicker/development-bundle/themes/base/jquery.ui.theme.css">
<link rel="stylesheet" href="3rd/jquery.ui.timepicker/development-bundle/themes/base/jquery.ui.core.css">
<link rel="stylesheet" href="3rd/jquery.ui.timepicker/development-bundle/themes/base/jquery.ui.datepicker.css">
<script src="3rd/jquery.ui.timepicker/development-bundle/ui/jquery.ui.core.js"></script>
<script src="3rd/jquery.ui.timepicker/development-bundle/ui/jquery.ui.datepicker.js"></script>
<script type="text/javascript" src="scripts/evaluateSearch.js"></script>
