.sidebarbottom{background:url(../imgs/allbgs.png) no-repeat 0px 0px;height:2px;padding-left:152px;}
.helloarrow{background:url(../imgs/allbgs.png) no-repeat 0px -2px;height:5px;padding-left:10px;}
.helloarrowhover{background:url(../imgs/allbgs.png) no-repeat 0px -7px;height:5px;padding-left:10px;}
.mailNew{background:url(../imgs/allbgs.png) no-repeat 0px -12px;height:7px;padding-left:9px;}
.newmailClose{background:url(../imgs/allbgs.png) no-repeat 0px -19px;height:8px;padding-left:10px;}
.newmailClosehover{background:url(../imgs/allbgs.png) no-repeat 0px -27px;height:8px;padding-left:10px;}
.listclose{background:url(../imgs/allbgs.png) no-repeat 0px -35px;height:10px;padding-left:12px;}
.listclosehover{background:url(../imgs/allbgs.png) no-repeat 0px -45px;height:10px;padding-left:12px;}
.outdesk{background:url(../imgs/allbgs.png) no-repeat 0px -55px;height:12px;padding-left:18px;}
.mail{background:url(../imgs/allbgs.png) no-repeat 0px -67px;height:12px;padding-left:18px;}
.mailhover{background:url(../imgs/allbgs.png) no-repeat 0px -79px;height:12px;padding-left:18px;}
.outdeskhover{background:url(../imgs/allbgs.png) no-repeat 0px -91px;height:12px;padding-left:18px;}
.pagearrow{background:url(../imgs/allbgs.png) no-repeat 0px -103px;height:12px;padding-left:192px;}
.datepickerbg{background:url(../imgs/allbgs.png) no-repeat 0px -115px;height:13px;padding-left:18px;}
.platform{background:url(../imgs/allbgs.png) no-repeat 0px -128px;height:13px;padding-left:18px;}
.setting{background:url(../imgs/allbgs.png) no-repeat 0px -141px;height:14px;padding-left:16px;}
.settinghover{background:url(../imgs/allbgs.png) no-repeat 0px -155px;height:14px;padding-left:16px;}
.contactus{background:url(../imgs/allbgs.png) no-repeat 0px -169px;height:14px;padding-left:18px;}
.dbhdjkbar{background:url(../imgs/allbgs.png) no-repeat 0px -183px;height:14px;padding-left:3px;}
.contactushover{background:url(../imgs/allbgs.png) no-repeat 0px -197px;height:14px;padding-left:18px;}
.bar{background:url(../imgs/allbgs.png) no-repeat 0px -211px;height:15px;padding-left:7px;}
.educeicon{background:url(../imgs/allbgs.png) no-repeat 0px -226px;height:16px;padding-left:18px;}
.headerAsideBar{background:url(../imgs/allbgs.png) no-repeat 0px -242px;height:16px;padding-left:202px;}
.closeblack{background:url(../imgs/allbgs.png) no-repeat 0px -258px;height:16px;padding-left:18px;}
.help{background:url(../imgs/allbgs.png) no-repeat 0px -274px;height:16px;padding-left:18px;}
.closegray{background:url(../imgs/allbgs.png) no-repeat 0px -290px;height:16px;padding-left:18px;}
.addBlock{background:url(../imgs/allbgs.png) no-repeat 0px -306px;height:16px;padding-left:18px;}
.helphover{background:url(../imgs/allbgs.png) no-repeat 0px -322px;height:16px;padding-left:18px;}
.headingbg{background:url(../imgs/allbgs.png) no-repeat 0px -338px;height:17px;padding-left:16px;}
.bargray{background:url(../imgs/allbgs.png) no-repeat 0px -355px;height:18px;padding-left:5px;}
.unfoldarrowup{background:url(../imgs/allbgs.png) no-repeat 0px -373px;height:18px;padding-left:19px;}
.unfoldarrow{background:url(../imgs/allbgs.png) no-repeat 0px -391px;height:18px;padding-left:19px;}
.dydy{background:url(../imgs/allbgs.png) no-repeat 0px -409px;height:23px;padding-left:16px;}
.xydy{background:url(../imgs/allbgs.png) no-repeat 0px -432px;height:23px;padding-left:16px;}
.logo{background:url(../imgs/allbgs.png) no-repeat 0px -455px;height:56px;padding-left:144px;}
.navhover{background:url(../imgs/allbgs.png) no-repeat 0px -511px;height:56px;padding-left:94px;}
.morehover{background:url(../imgs/allbgs.png) no-repeat 0px -567px;height:56px;padding-left:81px;}
.more{background:url(../imgs/allbgs.png) no-repeat 0px -623px;height:56px;padding-left:81px;}
.headerRhover{background:url(../imgs/allbgs.png) no-repeat 0px -679px;height:56px;padding-left:52px;}
.headerbg{background:url(../imgs/allbgs.png) no-repeat 0px -735px;height:56px;padding-left:11px;}
.rateType{background:url(../imgs/allbgs.png) no-repeat 0px -791px;height:91px;padding-left:23px;}
